body {
    background-color:lightblue;
    font-family: 'Barlow', sans-serif;
    color: rgb(49, 46, 46);
    text-align: center;
} 

.buttonstyle {
    margin: 10px;
    padding: 15px;
    background-color: grey;
    border: none;
    color: white;
    position: relative;
    display: inline-block;
    font-size: 16px;
}

main {
    width: 680px;
}

p {
    display: inline-block;
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin-inline-start: 1px;
    margin-inline-end: 1px;
}

p input {
    padding-top: 10px;
    padding-bottom: 10px;
}

.logfieldset {
    width: 400px;
    margin: 0 auto;
    text-align: center;
    line-height: 20px;
    margin-bottom: 100px;
    padding-bottom: 105px;
    padding-top: 1px;

    position: relative;
    top: 50px;
}

.UserName {
    font-size: 20px;

    position: relative;
    top: 26px;
}

.UserInfo {
    font-size: 20px;

    position: relative;
    top: 74px;
}

.GetToken {
    padding: 13px;
    background-color: grey;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.logbutton {
    /* css for button */
    margin: 10px;
    padding: 15px;
    background-color: grey;
    border: none;
    color: white;
    display: inline-block;

    /* postion */
    position: relative;
    top: 25px;
    font-size: 16px;
}

.loglabel {
    font-size: 20px;
    position: relative;
    top: 25px;
}


@media only screen and (max-width: 1024px) {
    .main {
        width: 100%
    }

    .body {
        width: 100%
    }

    header {
        width: 100%

    }

    body {
        background: lightblue;
    }

    p input {
        padding-top: 25px;
        padding-bottom: 16px;
    }

    .logfieldset {
        width: 750px;
        margin: 0 auto;
        text-align: center;
        line-height: 20px;
        margin-bottom: 100px;
        padding-bottom: 105px;
        padding-top: 1px;
    
        position: relative;
        top: 75px;
    }

    .UserName {
        font-size: 45px;
    
        position: relative;
        top: 26px;
    }
    
    .UserInfo {
        font-size: 45px;
    
        position: relative;
        top: 74px;
    }
    
    .GetToken {
        padding: 13px;
        background-color: grey;
        border: none;
        color: white;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
    }
    
    .logbutton {
        /* css for button */
        margin: 10px;
        padding: 15px;
        background-color: grey;
        border: none;
        color: white;
        display: inline-block;
    
        /* postion */
        position: relative;
        top: 25px;
        font-size: 16px;
    }
    
    .loglabel {
        font-size: 20px;
        position: relative;
        top: 25px;
    }
    
    .changepassword {
        position: relative;
        top: 100px;
        font-size: 45px;
    }
}

@media only screen and (max-width: 1600px) {
    body {
        background: lightblue;
    }
}

@media only screen and (max-width: 1366px) {
    body {
        background: lightblue;
    }
}

@media only screen and (max-width: 1280px) {
    body {
        background: lightblue;
    }
}

@media only screen and (max-width: 1180px) {
    body {
        background: lightblue;
    }
}

@media only screen and (max-width: 800px) {
    body {
        background: lightblue;
    }
}

@media only screen and (max-width: 640px) {
    .logo_move {
        display: none;
    }
    body {
        background: lightblue;
    }
}