/* header */

.dropbtn {
    background-color: black;
    color: white;
    font-size: 16px;
    border: none;
    width: 75px;
    height: 75px;
    border-top-left-radius: 50% 50%; 
    border-top-right-radius: 50% 50%; 
    border-bottom-right-radius: 50% 50%; 
    border-bottom-left-radius: 50% 50%;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
    left: 550px;
    bottom: 120px;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    text-align: center;
    left: -60px;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {background-color: #ddd;}
  
  .dropdown:hover .dropdown-content {display: block;}
  
  .dropdown:hover .dropbtn {background-color: #3e8e41;}

header {
    background: #0088ff;
    color: white;
    padding: 20px 10px;
    text-align: center;
    font-size: 26px;
    font-family: sans-serif;
} 



#content {
    margin-top: 100px;
}

.BackDashboard {
    height: 50px;
    position: absolute;
    top: 30px;
    left: 960px;
    bottom: 0px;
    right: 0px;
}

.back {
    height: 50px;
    position: absolute;
    top: 30px;
    left: 970px;
    bottom: 0px;
    right: 0px;
}

header h1 {
    width: 100%;
}

.myAccount {
    height: 50px;
    position: absolute;
    top: 30px;
    left: 970px;
    bottom: 0px;
    right: 0px;
}


.logo_move {
    position: absolute;
    top: 35px;
    left: 35px;
    bottom: 0px;
    right: 0px;
    overflow: auto;
    font-size: 20px;
}

a {
    margin: 10px;
    padding: 15px;
}

@media only screen and (max-width: 1920px) {
    body {
        background-color: lightblue;
    }

    .myAccount {
        height: 50px;
        position: absolute;
        top: 75px;
        left: 1600px;
        bottom: 0px;
        right: 0px;
    }

    .BackDashboard {
        height: 50px;
        position: absolute;
        top: 75px;
        left: 1600px;
        bottom: 0px;
        right: 0px;
    }
    
    .contact {
        position: absolute;
        top: 50px;
        left: 1250px;
        bottom: 0px;
        right: 0px;
    }
    
    .about {
        position: absolute;
        top: 110px;
        left: 1250px;
        bottom: 0px;
        right: 0px;
    }
}

@media only screen and (max-width: 1024px) {
    .logo_move {
        width: 100px;
        height: 100px;
    }


    .contact {
        scroll-margin-top: 1em;
        position: absolute;
        top: 50px;
        left: 850px;
        bottom: 0px;
        right: 0px;
    }
    
    .about {
        scroll-margin-top: 1em;
        position: absolute;
        top: 110px;
        left: 850px;
        bottom: 0px;
        right: 0px;
    }
}

@media only screen and (max-width: 1600px) {
    .contact {
        position: absolute;
        top: 50px;
        left: 1050px;
        bottom: 0px;
        right: 0px;
    }
    
    .about {
        position: absolute;
        top: 110px;
        left: 1050px;
        bottom: 0px;
        right: 0px;
    }
}

@media only screen and (max-width: 1366px) {
    .contact {
        position: absolute;
        top: 50px;
        left: 990px;
        bottom: 0px;
        right: 0px;
    }
    
    .about {
        position: absolute;
        top: 110px;
        left: 990px;
        bottom: 0px;
        right: 0px;
    }
}

@media only screen and (max-width: 1280px) {
    .contact {
        position: absolute;
        top: 50px;
        left: 980px;
        bottom: 0px;
        right: 0px;
    }
    
    .about {
        position: absolute;
        top: 110px;
        left: 980px;
        bottom: 0px;
        right: 0px;
    }
}

@media only screen and (max-width: 1180px) {
    .contact {
        position: absolute;
        top: 50px;
        left: 900px;
        bottom: 0px;
        right: 0px;
    }
    
    .about {
        position: absolute;
        top: 110px;
        left: 900px;
        bottom: 0px;
        right: 0px;
    }
}

@media only screen and (max-width: 1100px) {
    .contact {
        position: absolute;
        top: 50px;
        left: 850px;
        bottom: 0px;
        right: 0px;
    }
    
    .about {
        position: absolute;
        top: 110px;
        left: 850px;
        bottom: 0px;
        right: 0px;
    }
}

@media only screen and (max-width: 800px) {
    body {
        background-color: pink;
    }
}

@media only screen and (max-width: 800px) {
    body {
        background-color: pink;
    }
}

@media only screen and (max-width: 640px) {
    .logo_move {
        display: none;
    }
    body {
        background-color: purple;
    }
}